/* view-booking.css */

.booking__item {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(229,231,235);
    border-radius: 0.5rem;
    padding: 2rem;
}

.booking__item h5 {
    font-size: 1rem;
    margin-bottom: 0;
}

.booking__item p {
    font-size: 0.9rem;
    color: #000000;
}

.booking__item h6 {
    font-size: 1.1rem;
    color: var(--primary-color);
}

.user__bookings {
    margin-top: 2.5rem;
}

/* view-booking.css */

/* Styling for "View all bookings" title */
.user__bookings-title {
    color: var(--primary-color); /* Color in #ee6e6e */
    font-size: 40px; /* Bit bigger font size */
    font-style: italic; /* Italics */
  }
  
  /* Styling for each booking item */
  .booking__item {
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 20px auto; /* Auto margins to center */
    padding: 15px; /* Padding inside each booking item */
    background-color: #fefefe; /* Cream background color */
    width: 90%; /* Reduced width */
    
  }
  
  /* Additional styling for booking item contents if needed */
  